
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');


.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 32px;
    font-family: 'Changa One';
    font-weight: 100;
    color: rgb(0, 0, 0);
}
.text1 {
    text-align: justify;
    font-size: 21px; 
    line-height: 1.7;  
    font-family: 'Roboto Condensed', sans-serif;
}
.words1 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;  
}
.words2 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}
.text2 {
    text-align: justify;
    font-size: 21px; 
    line-height: 1.7;  
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width:500px) {
    .container {

    
    padding: 0 5px;
    }
}
.text-3 {
    text-align: justify;
    font-size: 21px; 
    line-height: 1.7;  
    font-family: 'Roboto Condensed', sans-serif;
}
.words-3 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-4 {
    text-align: justify;
    font-size: 21px; 
    line-height: 1.7;  
    font-family: 'Roboto Condensed', sans-serif;
}
.words-4 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}
.text-5 {
    text-align: justify;
    font-size: 21px; 
    line-height: 1.7;  
    font-family: 'Roboto Condensed', sans-serif;
}
.words-5 {
    font-size: 21px;
    font-family: 'Roboto Condensed', sans-serif;
}
